/* Global and Commons Settings */

@font-face {
    font-family: Montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../font/Montserrat-Bold.ttf);
}

:root {
    /* Colors */
    --red: #E13439;
    --black: #111111;
    --bg: #F5F5F5;
    --gray-text: #969696;
    --block-stroke: #E8F0F3;
    --text: #4B4B4B;
    --white: #FFFFFF;
    --background: #151515;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page {
    font-family: Montserrat;
    background-color: var(--background);
}

.common-div-for-nav-background-decor {
    background: url(../img/Website-background/Main-bg.png) no-repeat;
    background-size: 1814px 803.59px;
    background-position: center 94px;
}

.home-page.turn-off {
    overflow-y: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.extended-container {
    max-width: 1230px;
    margin: 0 auto;
}

.mini-extended-container {
    max-width: 1172px;
    margin: 0 auto;
}

.relative {
    position: relative;
}

.fz-15 {
    font-size: 15px;
}

.lh-18 {
    line-height: 18px;
}

.fw-bold {
    font-family: Montserrat-Bold;
}

.white {
    color: var(--white);
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.flex {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.i-center {
    align-items: center;
}

.mt-30 {
    margin-top: 30px;
}

.w-100 {
    width: 100%;
}

.hover-text-decoration {
    text-decoration: none;
    transition: text-decoration .1s ease-in-out;
}

.hover-text-decoration:hover {
    text-decoration: underline;
}

button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

input, select {
    border: none;
}

ul {
    list-style: none;
}

/* Navbar */

/* .decor-left-1 {
    background-image: url(../img/Website-background/Left-decor.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: top;
} */

.main-navbar {
    background-color: #0F0F0F;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.navbar-content {
    display: flex;
    margin: 24px auto;
}

/* Navbar / Logo */

.logo-wrapper {
    margin-top: 4px;
}

.logo {
    width: 230px;
}

/* Navbar / Search */

.search-wrapper {
    position: relative;
    display: flex;
    margin-left: 70px;
    margin-top: 2px;
}

.input-wrapper {
    position: relative;
}

.search {
    font-size: 15px;
    font-family: Montserrat;
    width: 360px;
    height: 50px;
    padding-left: 20px;
    color: var(--white);
    background: #2C2C2C;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none !important;
}

.search-filter-wrapper {
    background: #2c2c2c;
    height: 50px;
    padding: 16px 24px 16px 14px;
}

.search-button-wrapper {
    position: relative;
}

.search-button {
    font-family: Montserrat;
    position: absolute;
    right: -80px;
    height: 50px;
    width: 90px;
    color: var(--white);
    background: var(--red);
    border-radius: 5px;
    font-size: 15px;
    line-height: 18px;
}

.z-2 {
    position: relative;
    z-index: 2;
}

.search-button:before {
    content: "";
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: radial-gradient(57.7% 100% at 50% 0%, #FF6B70 0%, #E30C13 100%);
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out;
}

.search-button:hover:before {
    opacity: 1;
    z-index: 1;
}

/* Navbar / Number */

.number-wrapper {
    display: flex;
    margin-left: 126px;
}

.phone-logo-wrapper {
    margin-top: 15px;
}

.phone-texts {
    margin-left: 15px;
    flex-direction: column;
}

.phone-time {
    font-size: 12px;
    line-height: 15px;
    color: #C4C4C4;
}

.phone-number {
    color: var(--block-stroke);
    line-height: 18px;
    font-weight: 600;
    position: relative;
    margin-top: 3px;
    margin-left: -5px;
}

.phone-link {
    color: var(--red);
    font-size: 12px;
    transition: text-decoration .1s ease-in-out;
}

.phone-link:hover {
    text-decoration: underline;
}

/* Navbar / Language */

.language-switcher {
    position: relative;
}

.languages-wrapper {
    margin-left: 45px;
    margin-top: 4px;
}

.language {
    cursor: pointer;
    display: none;
    background-color: #2C2C2C;
    border-radius: 5px;
    width: 87px;
    height: 35px;
    padding: 11px 13.23px 11px 10px; 
}

.language-russian.active, .language-english.active, .language-uzbek.active {
    display: block;
}

.flag {
    width: 20px;
}

.language-text {
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    color: var(--white);
    margin: 0 6px;
}

.drop-button-wrapper {
    display: inline;
}

/* Navbar / Language list */

.language-list {
    display: none;
    position: absolute;
    left: 45px;
    bottom: -95px;
}

.language-list.active {
    display: block;
}

.relative {
    position: relative;
}

.language-list-item {
    cursor: pointer;
    background-color: #2C2C2C;
    width: 87px;
    height: 35px;
    transition: background .1s ease-in-out;
}

.language-list-item:hover {
    background-color: #1C1C1C;
}

.language-item-border-radius-top {
    border-radius: 5px 5px 0 0;
}

.language-item-border-radius-bottom {
    border-radius: 0 0 5px 5px;
}

.language-list-item:nth-child(1) {
    padding: 11px 13.23px 11px 10px;
}

.language-list-item:nth-child(2) {
    padding: 11px 13.23px 11px 10px;
}

.language-list-item:nth-child(3) {
    padding: 11px 13.23px 11px 10px;
}

.language-list-russian.active, .language-list-english.active, .language-list-uzbek.active {
    background: #1C1C1C;
}

.mt-2 {
    margin-top: 2px;
}

/* Navbar / Back place */

.navbar-back-place {
    height: 100px;
}

/* Secondary Navbar */

.secondary-navbar {
    margin-top: 30px;
}

.sn-content {
    background: #1F1F1F;
    border-radius: 5px 5px 0px 0px;
    height: 60px;
}

/* Secondary Navbar / List */

.sn-list {
    position: relative;
    list-style: none;
    display: flex;
    height: 60px;
}

.sn-item {
    position: relative;
    z-index: 1;
    background: #1F1F1F;
    border-right: 1px solid #2c2c2c;
    display: flex;
    transition: background .1s ease-in-out;
}

.sn-item:hover {
    background: var(--red);
}

.sn-item.active {
    background: var(--red);
}

.sn-bag-item {
    position: relative;
    right: 0;
    z-index: 2;
    background: var(--white);
    padding: 0 51px 0 56px;
    box-shadow: 0px 4px 20px rgba(139, 139, 139, 0.1);
    border-radius: 5px 5px 0px 5px;
    display: flex;
    align-items: center;
}

.br-none {
    border-right: none;    
}

.sn-link {
    font-size: 15px;
    line-height: 18px;
    color: var(--white);
    text-align: center;
    margin: 21px 0;
}

.black {
    color: var(--black);
}

.sn-drop-button {
    position: absolute;
    right: 20px;
    margin: 29px 0;
}

.p-19 {
    padding: 0 19px;
}

.p-36 {
    padding: 0 36px 0 25px;
}

.p-40 {
    padding: 0 40px 0 19px;
}

.bag {
    position: absolute;
    left: 20px;
}

.bag-counter {
    position: absolute;
    right: 13px;
    font-size: 12px;
    color: var(--white);
    background: var(--red);
    padding: 6px 11px;
    border-radius: 5px;
}

/* Secondary Navbar / Dropdown */

.nav-drop-panel {
    position: absolute;
    top: 60px;
    z-index: 3;
    margin: 0 auto;
    width: 1170px;
    height: 62px;
}

.nav-drop-panel-content {
    display: flex;
}

.nav-drop-panel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 155px;
    height: 62px;
    background: var(--white);
    border: 1px solid #EBEBEB;
    border-radius: 0px;
}

.nav-drop-panel-border-radius-start {
    border-radius: 0px 0px 0px 10px;
}

.nav-drop-panel-border-radius-end {
    border-radius: 0px 0px 10px 0px;
}

.nav-carousel-arrow-place {
    z-index: 3;
    border-top: 1px solid #EBEBEB;
    width: 84px;
    height: 62px;
    background: var(--white);
}

.nav-phones-drop, .nav-laptops-drop, .nav-tablets-drop {
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
}

.sn-phone-item:hover ~ .nav-phones-drop, .nav-phones-drop:hover {
    opacity: 1;
    visibility: visible;
}

.sn-laptop-item:hover ~ .nav-laptops-drop, .nav-laptops-drop:hover {
    opacity: 1;
    visibility: visible;
}

.sn-tablet-item:hover ~ .nav-tablets-drop, .nav-tablets-drop:hover {
    opacity: 1;
    visibility: visible;
}

.bag-drop-panel {
    display: none;
    position: absolute;
    z-index: 5;
    top: 72px;
    right: 0;
    width: 393px;
    height: 440px;
    background: #252525;
    box-shadow: inset 0px 2px 0px #D40B0B;
    border-radius: 5px;
}

.bag-drop-panel.active {
    display: block;
}

.your-purchases-item-bag-padding {
    padding: 35px 15px 23px 20px !important;
}

.pt-1 {
    padding-top: 1px;
}

.w-203 {
    width: 203px;
}

.bag-padding {
    padding: 0 19px 0 20px !important;
    margin: 0 auto;
}

.bag-drop-panel-end {
    display: flex;
    margin-top: 30px;
    padding: 0 18px 0 22px;
}

.bag-drop-panel-end-first-wrapper {
    padding-right: 13px;
}

.bag-drop-panel-end-first {
    font-family: Montserrat;
    font-size: 15px;
    line-height: 150%;
    height: 50px;
    border: 1px solid #E13439;
    color: #E13439;
    background: transparent;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 13px 40px 14px 40px;
    transition: all .1s ease-in-out;
}

.bag-drop-panel-end-first:hover {
    background: #E13439;
    color: var(--white);
}

.bag-drop-panel-end-second {
    position: relative;
    font-family: Montserrat;
    background: #E13439;
    height: 50px;
    border-radius: 5px;
    padding: 13px 57px 14px 57px;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
}

.bag-drop-panel-end-second:before {
    content: "";
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: radial-gradient(57.7% 100% at 50% 0%, #FF6B70 0%, #E30C13 100%);
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out;
}

.bag-drop-panel-end-second:hover:before {
    opacity: 1;
    z-index: 1;
}

.polygon {
    position: absolute;
    right: 19px;
    top: -12px;
}

/* Carousel */

.carousel {
    margin-top: 30px;
}

.carousel-image {
    border-radius: 5px;
}

/* Novetly */

.novetly {
    margin-top: 81px;
}

/* Novetly / Headings */

.banner-headings-wrapper {
    display: flex;
    justify-content: space-between;
    background: #1F1F1F;
    height: 68px;
    border-radius: 10px;
}

.banner-main-text-wrapper {
    display: flex;
    align-items: center;
    width: 245px;
    height: 68px;
    padding-left: 32px;
    background: #292929;
    border-radius: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
}

.banner-main-text {
    font-size: 25px;
    line-height: 30px;
    color: var(--white);
}

.banner-secondary-text-wrapper {
    display: flex;
    align-items: center;
    padding-right: 132px;
}

.banner-secondary-text {
    line-height: 18px;
    color: var(--red);
    transition: text-decoration .1s ease-in-out;
}

.banner-secondary-text:hover {
    text-decoration: underline;
}

/* Novetly / Novetly Card */

.novetly-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.novetly-phase {
    display: flex;
}

.mr-30 {
    margin-right: 30px;
}

.novetly-card {
    width: 270px;
    cursor: pointer;
    background: #292929;
    border-radius: 10px;
    padding: 10px 10px 19px 10px;
    transition: background .1s ease-in-out;
}

.avengers-slider-item {
    width: 270px !important;
    height: 355px !important;
    cursor: pointer;
    background: #292929;
    border-radius: 10px;
    padding: 10px 10px 19px 10px;
    transition: background .1s ease-in-out;
}

.novetly-card:hover {
    background: #181818;
}

.novetly-card-image-wrapper {
    position: relative;
}

.novetly-card-image, .avengers-slider-image {
    border-radius: 3px;
    width: 250px;
    height: 250px;
}

.novetly-label {
    display: none;
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 12px;
    line-height: 15px;
    color: var(--white);
    background: var(--red);
    padding: 4px 13px 6px 14px;
    border-radius: 3px;
}

.novetly-label.active {
    display: block;
}

.sale-label {
    display: none;
    position: absolute;
    top: 8px;
    right: 81px;
    font-size: 12px;
    line-height: 15px;
    color: var(--white);
    background: #33AD12;
    padding: 4px 11px 6px 14px;
    border-radius: 3px;
}

.sale-label.active {
    display: block;
}

.novetly-card-texts, .avengers-item-texts {
    margin-top: 9px;
    margin-left: 7px;
}

.novetly-card-mini-text, .avenger-item-mini-text {
    font-size: 12px;
    line-height: 15px;
    color: var(--gray-text);
}

.novetly-card-mean-text, .avenger-item-mean-text {
    margin-top: 6px;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: var(--white);
}

.novetly-availability {
    margin-top: 40px;
    margin-left: 7px;
}

.novetly-availability-content {
    display: flex;
}

.novetly-availability-price {
    flex-direction: column;
    padding: 5px 70px 4px 16px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px 0 0 5px;
}

.novetly-availability-sale-text {
    position: relative;
    display: none;
    line-height: 18px;
    color: var(--gray-text);
    z-index: 1;
}

.novetly-availability-sale-text:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    z-index: 2;
    background: var(--red);
    transform: rotate(-7.81deg);
    width: 53px;
    height: 1px;
}

.novetly-availability-sale-text.active {
    display: block;
}

.novetly-availability-no-sale-text {
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
    padding-top: 10px;
}

.novetly-availability-sale-text.active ~ .novetly-availability-no-sale-text {
    padding-top: 1px;
}

.novetly-availability-bag-wrapper {
    position: relative;
    background: var(--red);
    border-radius: 0px 5px 5px 0px;
    transition: all .5s;
}

.novetly-availability-bag-wrapper:before {
    content: "";
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background: radial-gradient(57.7% 100% at 50% 0%, #FF6B70 0%, #E30C13 100%);
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out;
}

.novetly-availability-bag-wrapper:hover:before {
    opacity: 1;
    z-index: 1;
}

.novetly-availability-bag, .novetly-availability-check-mark {
    display: none;
    position: relative;
    z-index: 2;
}

.novetly-availability-bag {
    padding: 15px;
}

.novetly-availability-check-mark {
    padding: 18px 14px 18px 18px;
}

.novetly-availability-bag.active, .novetly-availability-check-mark.active {
    display: block;
}

.novetly-availability-confirm-phase, .novetly-availability-confutation-phase {
    display: none;
}

.novetly-availability-confirm-phase.active, .novetly-availability-confutation-phase.active {
    display: block;
}

.novetly-availability-comfirm-wrapper {
    margin-left: 7px;
    margin-top: 14px;
}

.novetly-availability-confutation-logo, .novetly-availability-confirm-logo {
    float: left;
    margin-top: 4.33px;
}

.novetly-availability-confirm-text, .novetly-availability-confutation-text {
    margin-left: 18px;
    font-size: 12px;
    line-height: 15px;
}

.novetly-availability-confutation-text {
    color: #D50B0B;
}

.novetly-availability-confirm-text {
    color: #33AD12;
}

/* Avengers */

.avengers {
    margin-top: 100px;
    width: 100%;
    height: 512px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Avengers-banner/Avengears-Background.jpg), #000000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 47%;
}

.avengers-slider-item {
    position: relative;
    width: 270px;
}

.mr-important-0 {
    margin-right: 0 !important;
}

.hover-appear {
    display: none;
}

.avenger-slider-item-details {
    background: #292929;
    transition: all .2s ease-in-out;
}

.avengers-slider-item:hover .hover-appear {
    display: block;
}

.avengers-slider-item:hover .avenger-slider-item-details {
    height: 178px;
    width: 250px;
    position: absolute;
    bottom: 0;
    right: 10px;
    z-index: 3;
}

.avengers-slider-item:hover .avengers-item-texts {
    margin-top: 16px;
}

.mt-17 {
    margin-top: 17px;
}

.avengers-headings-wrapper {
    padding: 183px 0 0 0;
}

.avengers-heading {
    font-size: 40px;
    line-height: 49px;
    color: var(--white);
    margin-bottom: 44px;
}

.link {
    position: relative;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: var(--white);
    background: var(--red);
    padding: 16px 36px;
    border-radius: 5px;
}

.link:before {
    content: "";
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: radial-gradient(57.7% 100% at 50% 0%, #FF6B70 0%, #E30C13 100%);
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out;
}

.link:hover:before {
    opacity: 1;
    z-index: 1;
}

.avengers-slider-image {
    position: relative;
    z-index: 1;
}

.avengers-availability, avengers-availability-comfirm-wrapper {
    display: none;
}

.avengers-slider {
    margin-left: 101px;
    margin-top: 48px;
}

.avengers-slider-content {
    display: flex;
    width: 830px;
    height: 422px;
}

.mr-10 {
    margin-right: 10px;
}

/* Popular */

.mt-55 {
    margin-top: 55px;
}

.w-608 {
    width: 608.5px;
}

.popular-clip-path {
    clip-path: polygon(0% 0%, 100% 0%, 95% 100%, 0% 100%); 
}

.popular {
    position: relative;
}

.popular-content {
    position: absolute;
    top: 0;
    overflow: hidden;
    padding-top: 107px;
    width: 1170px !important;
    display: flex;
}

/* Background Decor */

.common-div-for-background-decor {
    background-image: url(../img/Website-background/3d-effect.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 563px;
}

/* More info */

.more-info {
    margin-top: 607px;
}

.more-info-content {
    display: flex;
    background: #252525;
    padding: 36px 83px 46px 48px;
    box-shadow: 0px 32px 52px rgba(0, 0, 0, 0.43);
    border-radius: 10px 10px 10px 216px;
}

.more-info-text-wrapper {
    margin-left: 43px;
}

.more-info-text {
    margin-left: 2px;
}

.more-info-heading {
    font-size: 25px;
    line-height: 30px;
    color: var(--white);
}

.more-info-text {
    margin-top: 23px;
    font-size: 15px;
    line-height: 150%;
    color: var(--white);
}

/* Tips */

.tips {
    margin-top: 180px;
    position: relative;
}

.tips-content {
    position: absolute;
    bottom: -112px;
    display: flex;
    justify-content: center;
}

.border-radius-left {
    border-radius: 20px 0px 0px 20px;
}

.border-radius-right {
    border-radius: 0 20px 20px 0;
}

.tips-item {
    background: #F4F4F4;
    width: 292px;
    height: 224px;
}

.tips-1-padding {
    padding: 29px 19px 56px 42px;
}

.tips-2-padding {
    padding: 29px 27px 42px 34px;
}

.tips-3-padding {
    padding: 29px 20px 42px 41px;
}

.tips-4-padding {
    padding: 29px 29px 42px 36px;
}

.white-bg {
    background: var(--white);
}

.tips-number {
    font-size: 62px;
    line-height: 100%;
    margin-left: 3px;
    color: var(--red);
}

.ml-0 {
    margin-left: 0;
}

.tips-heading {
    margin-top: 3px;
    color: var(--black);
    font-size: 15px;
    line-height: 150%;
}

.mt-17 {
    margin-top: 17px;
}

.ml-6 {
    margin-left: 6px;
}

.tips-text {
    margin-top: 11px;
    font-size: 13px;
    line-height: 150%;
    color: var(--text);
}

/* Footer */

.footer {
    margin-top: 180px;
    width: 100%;
    height: 469px;
    background: linear-gradient(164.5deg, #1C1C1C 45.63%, rgba(29, 29, 29, 0) 67.7%), #151515;
    background-image: url(../img/Website-background/Wave.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.mt-230 {
    margin-top: 230px;
}

.footer-content {
    padding-top: 216px;
    display: flex;
}

/* Footer / Logo and social media */

.social-media {
    display: flex;
    margin-top: 36px;
}

.footer-company-logo {
    width: 275px;
}

.footer-logo {
    margin-right: 17px;
}

.mr-0 {
    margin-right: 0;
}

/* Footer / Footer nav list */

.footer-nav {
    display: flex;
    margin-left: 96px;
}

.footer-list-2 {
    margin-left: 73px;
}

.footer-nav-item {
    margin-bottom: 30px;
}

.mb-0 {
    margin-bottom: 0;
}

.footer-nav-link {
    color: var(--block-stroke);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    transition: text-decoration .1s ease-in-out;
}

.footer-nav-link:hover {
    text-decoration: underline;
}

/* Footer / Number Wrapper */

.footer-column {
    margin-left: 165px;
    display: flex;
    flex-direction: column;
}

.footer-number-wrapper {
    display: flex;
    position: relative;
}

.footer-phone-logo-wrapper {
    margin-right: 15px;
    display: flex;
    align-items: flex-end;
}

.footer-phone-time {
    font-size: 12px;
    line-height: 15px;
    color: #C4C4C4;
}

.footer-phone-number {
    position: relative;
    margin-left: -5px;
    margin-top: 2px;
    line-height: 18px;
    font-weight: 600;
    color: var(--block-stroke);
}

.footer-link-wrapper {
    margin-top: 40px;
}

.footer-number-link-padding {
    padding: 16px 34px;
}

/* Footer / All rights reserved */

.all-rights-reserved {
    margin-top: 62px;
}

.all-rights-reserved-text {
    width: 1172px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    padding-top: 25px;
    color: var(--gray-text);
    border-top: 1px solid #404040;
}


/* Smartphones.html */

/* Smartphones background */

/* .smartphones-background {
    background: linear-gradient(0deg, #151515 5.02%, rgba(21, 21, 21, 0) 100%), url(2542.jpg), #292929;
    background-image: url(../img/Website-background/3d-effect.png);
    background-repeat: no-repeat;
    background-size: 1922px 1086px;
    background-position: right top;
} */

/* Breadcrumber */

.breadcrumber {
    margin-top: 25px;
}

.breadcrumber-smartphones-link, .breadcrumber-home-link, .breadcrumber-slash {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #969696;
}

.breadcrumber-smartphones-link {
    margin-left: 7px;
}

.breadcrumber-home-link {
    color: #292929;
    margin-right: 7px;
}

.ml-7 {
    margin-left: 7px;
}

.gray {
    color: #292929;
}

/* Phone Case */

.phones-case-heading-wrapper {
    margin-top: 25px;
}

.phone-case-heading {
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

/* Smartphones Filter */

.mt-37 {
    margin-top: 37px;
}

.mt-16 {
    margin-top: 16px;
}

.smartphones-filter {
    position: relative;
}

.smartphones-filter-content {
    width: 270px;
    flex-direction: column;
    background: #1F1F1F;
    border-radius: 10px;
}

.smartphones-filter-heading-wrapper {
    padding: 21px 98px 16px 89px;
    /* border-bottom: 1px solid #2C2C2C; */
}

.smartphones-filter-heading {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.smartphones-filter-item {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 21px 20.72px 21px 25px;
    border-top: 1px solid #2C2C2C;
}

.smartphones-filter-item-text {
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.smartphones-filter-buttons-wrapper {
    padding: 31px 21px 39px 22px;
    display: flex;
    border-top: 1px solid #2C2C2C;
}

.smartphones-filter-button-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111111;
    width: 110px;
    height: 50px;
    border-radius: 5px;
    transition: background .1s ease-in-out;
}

.smartphones-filter-button-item:hover {
    background: var(--red);
}

.smartphones-filter-button {
    color: var(--white);
    font-size: 15px;
    line-height: 150%;
    text-align: center;
}

.mr-7 {
    margin-right: 7px;
}

/* Smartphones filter / Dropdown */

/* First dropdown */

.smartphones-filter-dropdown-producer {
    display: none;
}

.smartphones-filter-dropdown-producer.active {
    display: block;
}

.smartphones-filter-dropdown-producer-content {
    padding: 0 22px 28px 26px;
    flex-direction: column;
}

.smartphones-filter-dropdown-producer-item {
    display: flex;
}

.smartphones-filter-dropdown-producer-image-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 106px;
    height: 43px;
    background: #FFF;
    border-radius: 5px;
    box-sizing: border-box;
}

.smartphones-filter-dropdown-producer-image-item.active {
    border: 1px solid #E13439;
}

.mb-10 {
    margin-bottom: 10px;
}

/* Second Dropdown */

.smartphones-filter-dropdown-model-content {
    display: none;
    margin: 0 21px 27px 26px;
    background: #2C2C2C;
    border-radius: 5px;
    width: 223px;
    height: 264px;
    overflow-y: auto;
}

.smartphones-filter-dropdown-model-content.active {
    display: block;
}

.smartphones-filter-dropdown-model-content::-webkit-scrollbar {
    width: 5px;
    height: 214px;
}

.smartphones-filter-dropdown-model-content::-webkit-scrollbar-track {
    background: #E8F0F3;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 44px;
}

.smartphones-filter-dropdown-model-content::-webkit-scrollbar-thumb {
    background: #E13439;
    border-radius: 5px;
}

.smartphones-filter-dropdown-model-item {
    display: flex;
    padding: 7px 0 7px 9px;
    transition: background .1s ease-in-out;
}

.smartphones-filter-dropdown-model-item:hover {
    background: #4B4B4B;
}

.smartphones-filter-dropdown-model-input {
    margin-top: 7px;
}

.smartphones-filter-dropdown-model-text {
    font-size: 12px;
    line-height: 250%;
    color: #FFFFFF;
    margin-left: 11px;
}

.smartphones-filter-item-arrow {
    transform: rotate(0);
}

.smartphones-filter-item-arrow.active {
    transform: rotate(180deg);
}

/* Third Dropdown */

.smartphones-filter-dropdown-price {
    display: none;
}

.smartphones-filter-dropdown-price.active {
    display: block;
}

.smartphones-filter-dropdown-price-content {
    padding: 0 21px 27px 25px;
    display: flex;
}

.smartphones-filter-dropdown-price-input {
    border: none;
    outline: none;
    background: #2C2C2C;
    border-radius: 5px;
    width: 102px;
    height: 43px;
    padding-left: 19px;
    color: #FFF;
}

.smartphones-filter-dropdown-price-item-mini {
    margin: 0 7px;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

/* Phone cards */

.phone-cards {
    margin-left: 34px;
}

.phone-cards-start {
    display: flex;
    justify-content: space-between;
}

.phone-cards-start-quantity {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--white);
}

.red {
    color: var(--red);
}

.phone-cards-selector {
    margin-left: 401px;
}

.phone-cards-selector-item {
    display: none;
    cursor: pointer;
    width: 238px;
    height: 50px;
    padding: 16px 20.72px 16px 28px;
    background: #2C2C2C;
    border-radius: 10px;
}

.phone-cards-selector-item-default.active, .phone-cards-selector-item-size.active, .phone-cards-selector-item-name.active, .phone-cards-selector-item-price.active {
    display: block;
}

.phone-cards-selector-item-text, .phone-cards-selector-back-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.phone-cards-selector-item-image {
    margin-left: 51px;
    margin-top: 5px;
    margin-bottom: 6px;
}

.phone-cards-selector-back {
    position: relative;
    display: none;
}

.phone-cards-selector-back.active {
    display: block;
}

.phone-cards-selector-back-list {
    position: absolute;
    top: 3px;
    z-index: 3;
}

.phone-cards-selector-back-item {
    cursor: pointer;
    background: #2C2C2C;
    width: 238px;
    transition: background .1s ease-in-out;
}

.phone-cards-selector-back-item:hover {
    background: #1C1C1C;
}

.phone-cards-selector-list-size.active, .phone-cards-selector-list-name.active, .phone-cards-selector-list-price.active {
    background: #1C1C1C;
}

.phone-cards-selector-back-item:nth-child(1) {
    padding: 16px 20.72px 16px 28px;
    border-radius: 10px 10px 0 0;
}

.phone-cards-selector-back-item:nth-child(2) {
    padding: 16px 20.72px 16px 28px;
}

.phone-cards-selector-back-item:nth-child(3) {
    padding: 16px 20.72px 16px 28px;
    border-radius: 0 0 10px 10px;
}

.phone-cards-content {
    flex-direction: column;
    margin-left: 1px;
    margin-top: 28px;
}

/* Page switcher */

.page-switcher {
    margin-top: 27px;
    display: flex;
    justify-content: flex-end;
}

.page-switcher-content {
    display: flex;
}

.rotate-left {
    transform: rotate(90deg);
}

.rotate-right {
    transform: rotate(-90deg);
}

.page-switcher-items-box {
    display: flex;
    width: 170px;
    padding: 10px 20px 10px 22px;
    background: #292929;
}

.page-switcher-item {
    padding: 3px 12px 4px 12px;
    transition: all .1s ease-in-out;
}

.page-switcher-item:hover {
    background: var(--red);
    border-radius: 3px;
}

.page-switcher-item.active {
    background: var(--red);
    border-radius: 3px;
}

.page-switcher-item-number {
    color: var(--white);
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
}

.page-switcher-arrow-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: #303030;
}

.page-switcher-border-radius-right {
    border-radius: 0px 10px 10px 0px;
}

.page-switcher-border-radius-left {
    border-radius: 10px 0px 0px 10px;
}

/* Delivery-Info.html */

.mt-54 {
    margin-top: 54px;
}

.lh-150 {
    line-height: 150%;
}

.delivery-info-heading {
    font-size: 15px;
    line-height: 150%;
    color: #FFF;
}

.delivery-info-text {
    margin-top: 30px;
    font-size: 15px;
    line-height: 150%;
    color: #969696;
}

.mt-227 {
    margin-top: 227px;
}

/* Gurantee-Support.html */

/* Text */

.gurantee-support {
    margin-top: 47px;
}

.gurantee-support-heading {
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
}

.gurantee-support-text {
    font-size: 15px;
    line-height: 150%;
    color: #4B4B4B;
}

/* Contacts Item */

.mt-29 {
    margin-top: 29px;
}

.gurantee-support-contacts-and-form {
    margin-top: 86px;
}

.gurantee-support-contacts-and-form-content {
    display: flex;
}

.gurantee-support-contacts-phase-item {
    width: 354px;
    display: flex;
    padding-top: 16px;
    padding-bottom: 19px;
    border-bottom: 1px solid #2C2C2C;
}

.gurantee-support-contacts-phase-content {
    margin-left: 20px;
}

.gurantee-support-contacts-phase-red-text {
    font-size: 12px;
    line-height: 15px;
    color: #E13439;
}

.gurantee-support-contacts-phase-text {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

/* Registration */

.gurantee-support-form-phase {
    width: 769px;
    height: 448px;
    background: #1F1F1F;
    border-radius: 10px;
    margin-left: 47px;
}

.gurantee-support-form-phase-heading {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 27px 596px 28px 44px;
}

.gurantee-support-form-phase-inputs {
    padding-top: 18px;
    padding-left: 39px;
    padding-right: 32px;
}

.gurantee-support-form-phase-inputs-start {
    display: flex;
}

.gurantee-support-form-phase-inputs-start-item {
    display: flex;
    flex-direction: column;
}

.gurantee-support-form-phase-inputs-item-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: var(--white);
}

.gurantee-support-form-phase-inputs-start-input {
    color: var(--white);
    padding: 0 19px;
    width: 334px;
    height: 50px;
    background: #2C2C2C;
    border: 1px solid #383838;
    box-sizing: border-box;
    border-radius: 5px;
}

.ml-30 {
    margin-left: 30px;
}

.gurantee-support-form-phase-inputs-end {
    margin-top: 18px;
}

.gurantee-support-form-phase-inputs-end-item {
    display: flex;
    flex-direction: column;
}

.gurantee-support-form-phase-inputs-end-input {
    color: var(--white);
    padding: 0 19px;
    width: 698px;
    height: 131px;
    background: #2C2C2C;
    border: 1px solid #383838;
    box-sizing: border-box;
    border-radius: 5px;
}

.gurantee-support-form-phase-button {
    padding-top: 21px;
    display: flex;
    justify-content: space-between;
}

.gurantee-support-form-phase-button-checkbox-wrapper {
    padding-top: 14px;
}

.gurantee-support-form-phase-button-link {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

/* Tips and Footer Phase */

.mt-198 {
    margin-top: 198px;
}

/* Novetlies.html */

.ml-150 {
    margin-left: 150px;
}

.novetlies-tabs {
    margin-left: 37px;
}

.novetlies-tabs-content {
    display: flex;
}

.novetlies-tabs-item {
    width: 165px;
    height: 50px;
    background: #2A2A2A;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 100%;
    color: #FFFFFF;
}

.novetlies-tabs-item.active {
    border: 1px solid #E13439;
}

.mr-12 {
    margin-right: 12px;
}

.novetlies-tabs-checkboxes {
    display: none;
}

/* Collections.html */

.mt-47 {
    margin-top: 47px;
}

.collections-avenger-bannner {
    margin-top: 25px;
    width: 1170px;
}

.mt-34 {
    margin-top: 34px;
}

.collections-avenger-bannner-image {
    object-fit: cover;
}

/* Shares.html */

.shares-cards-block {
    margin-top: 66px;
}

.shares-card {
    cursor: pointer;
    width: 370px;
    height: 500px;
}

.shares-card-image {
    width: 370px;
    height: 280px;
    border-radius: 10px 10px 0px 0px;
}

.shares-card-texts {
    width: 370px;
    height: 220px;
    background: #292929;
    border-radius: 0px 0px 10px 10px;
    padding: 20px 19px 20.7px 28px;
}

.shares-card-mini-heading {
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    padding-bottom: 18px;
}

.shares-card-heading {
    font-size: 18px;
    line-height: 150%;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.shares-card-text {
    font-size: 15px;
    line-height: 150%;
    color: #969696;
}

.shares-card-eye-wrapper {
    padding-top: 22.7px;
    display: flex;
    justify-content: flex-end;
}

.shares-card-eye-counter {
    padding-left: 13px;
    padding-top: 1.7px;
    font-size: 12px;
    line-height: 15px;
    color: #969696;
}

.mt-56 {
    margin-top: 56px;
}

.mt-258 {
    margin-top: 258px;
}

/* Shares Inner.html */

.mt-36 {
    margin-top: 36px;
}

.mt-41 {
    margin-top: 41px;
}

.border-radius-10 {
    border-radius: 10px;
}

.w-350-5 {
    width: 350.5px;
}

.mt-23 {
    margin-top: 23px;
}

.mt-219 {
    margin-top: 219px;
}

/* Product Card.html */

.product-pick {
    margin-top: 30px;
}

.product-pick-content {
    display: flex;
}

.product-images-switcher {
    width: 470px;
}

.product-images-switcher-main-image-wrapper {
    max-width: 470px;
    max-height: 470px;
}

.product-images-switcher-main-image {
    display: none;
    width: 470px;
    height: 470px;
    border-radius: 5px;
}

.product-images-switcher-main-first.active, .product-images-switcher-main-second.active, .product-images-switcher-main-third.active, .product-images-switcher-main-fourth.active, 
.product-images-switcher-main-fifth.active {
    display: block;
}

.product-images-dots {
    margin-top: 17px;
    width: 470px;
    height: 82px;
}

.product-images-dots-content {
    max-width: 470px;
    max-height: 82px;
    display: flex;
}

.product-images-dot {
    width: 82px;
    height: 82px;
    border-radius: 5px;
}

.mr-15 {
    margin-right: 15px;
}

.product-images-dot-first.active, .product-images-dot-second.active, .product-images-dot-third.active, .product-images-dot-fourth.active, .product-images-dot-fifth.active {
    border: 1px solid #E13439;
    box-sizing: border-box;
}

.product-image-form-block {
    margin-left: 50px;
}

.product-upper-novetly-label {
    display: none;
    font-size: 12px;
    line-height: 15px;
    color: var(--white);
    background: var(--red);
    padding: 4px 13px 6px 14px;
    border-radius: 3px;
    margin-right: 8px;
}

.product-upper-sale-label {
    display: none;
    font-size: 12px;
    line-height: 15px;
    color: var(--white);
    background: #33AD12;
    padding: 4px 11px 6px 14px;
    border-radius: 3px;
    margin-right: 19px;
}

.product-upper-novetly-label.active, .product-upper-sale-label.active {
    display: block;
}

.product-image-form-upper-heading {
    font-size: 20px;
    line-height: 151.9%;
    color: #FFFFFF;
    padding-top: 10px;
}

.product-image-form-upper-things-ordered {
    padding-top: 11px;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--white);
}

.product-lower-form {
    margin-top: 24px;
}

.product-lower-form-model-heading, .product-lower-form-color-heading, .product-lower-form-quantity-heading {
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

.product-lower-form-model-list {
    margin-top: 16px;
    margin-left: 2px;
}

.product-lower-form-model-list-item {
    border: 1px solid transparent;
    padding: 12px 17px 13px 17px;
    color: var(--white);
    background: #1F1F1F;
    border-radius: 5px;
    box-sizing: border-box;
}

.product-lower-form-model-list-item.active {
    border: 1px solid #E13439;
}

.mb-7 {
    margin-bottom: 7px;
}

.product-lower-form-model-checkboxes {
    display: none;
}

.product-lower-form-color {
    margin-top: 28px;
    margin-left: 6px;
    margin-bottom: 25px;
}

.product-lower-form-color-list {
    margin-top: 11px;
}

.product-lower-form-color-item-image {
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.product-lower-form-color-item-image.active {
    border: 1px solid #E13439;
}

.mr-14 {
    margin-right: 14px;
}

.line {
    width: 644px;
    height: 2px;
    background: #2C2C2C;
    border-radius: 10px;
}

.product-lower-form-quantity {
    margin-top: 21px;
    margin-left: 6px;
}

.product-lower-form-quantity-content {
    display: flex;
}

.product-lower-form-quantity-counter {
    margin-top: 10px;
    display: flex;
}

.product-lower-form-quantity-counter-next-wrapper {
    background: #303030;
    border-radius: 5px 0px 0px 5px;
    width: 30px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .1s ease-in-out;
}

.product-lower-form-quantity-counter-prev-wrapper {
    background: #303030;
    border-radius: 0px 5px 5px 0px;
    width: 30px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .1s ease-in-out;
}

.product-lower-form-quantity-counter-next-wrapper:hover, .product-lower-form-quantity-counter-prev-wrapper:hover {
    background: var(--red);
}

.product-lower-form-quantity-prev, .product-lower-form-quantity-next {
    width: 5px;
    height: 9px;
}

#product-lower-form-quantity-number-wrapper {
    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #FFF;
    background: #292929;
}

.product-lower-form-availability-price {
    margin-left: 55px;
}

.product-lower-form-buttons-wrapper {
    margin-top: 44px;
    display: flex;
}

.product-lower-form-buy-now {
    font-family: Montserrat;
    color: var(--red);
    background: transparent;
    border: 1px solid var(--red);
    border-radius: 5px;
    font-size: 15px;
    line-height: 150%;
    padding: 13px 21px 14px 22px;
    transition: all .1s ease-in-out;
}

.product-lower-form-buy-now:hover {
    background: var(--red);
    color: var(--white);
}

.product-lower-form-add-to-bag {
    font-family: Montserrat;
    color: var(--red);
    background: transparent;
    border: 1px solid var(--red);
    border-radius: 5px;
    font-size: 15px;
    line-height: 150%;
    padding: 13px 22px 14px 19px;
    margin-left: 16px;
    transition: all .1s ease-in-out;
}

.product-lower-form-add-to-bag:hover {
    background: var(--red);
    color: var(--white);
}

.product-lower-form-bag-image {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: 2px;
}

.common-information {
    position: relative;
    margin-top: 63px;
    width: 1170px;
    background: #252525;
    border-radius: 10px;
}

.common-information-content {
    padding-top: 19px;
    padding-left: 52px;
    padding-bottom: 46px;
}

.common-information-heading {
    font-size: 20px;
    line-height: 151.9%;
    color: #FFFFFF;
}

.common-information-line {
    position: absolute;
    top: 61px;
    left: 0;
    width: 1170px;
    height: 1px;
    background: #2C2C2C;
    border-radius: 10px;
}

.mt-43 {
    margin-top: 43px;
}

.mt-90 {
    margin-top: 90px;
}

.w-360 {
    width: 360px;
}

.mt-184 {
    margin-top: 184px;
}

/* Bag Page.html */

.mt-28 {
    margin-top: 28px;
}

.bag-page {
    margin-top: 30px;
}

.bag-page-middle-card.turn-off, .bag-page-line.turn-off {
    display: none;
}

.bag-page-upper-phase {
    display: flex;
    justify-content: space-between;
    background: #252525;
    border-radius: 10px 10px 0 0;
    padding: 22px 27px 18px 40px;
}

.bag-page-upper-heading {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--white);
    padding-top: 5px;
}

.bag-page-line {
    width: 1170px;
    height: 1px;
    background: #2C2C2C;
    border-radius: 10px;
}

.bag-page-upper-button {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.bag-page-upper-clean-button-wrapper {
    display: flex;
}

.bag-page-upper-cross {
    padding-right: 14px;
}

.bag-page-middle-card {
    background: #252525;
}

.bag-page-middle-card-content {
    position: relative;
    display: flex;
    padding: 27px 32px 33px 40px;
}

.bag-page-middle-card-image-item {
    margin-left: 39px;
}

.bag-page-middle-card-image {
    width: 170px;
    height: 170px;
    filter: drop-shadow(0px 4px 20px rgba(139, 139, 139, 0.1));
    border-radius: 3px;
}

.bag-page-middle-card-description-item {
    margin-left: 33px;
    margin-top: 12px;
}

.bag-page-middle-card-mini-text {
    font-size: 12px;
    line-height: 15px;
    color: #E13439;
}

.bag-page-middle-card-main-text {
    margin-top: 5px;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
    width: 239px;
}

.bag-page-middle-card-model-text {
    margin-top: 27px;
    font-size: 12px;
    line-height: 15px;
    color: #969696;
}

.bag-page-middle-card-color-text {
    margin-top: 11px;
    font-size: 12px;
    line-height: 15px;
    color: #969696;
}

.bag-page-middle-card-numbers-switcher-item {
    height: 67px;
    margin-left: 96px;
    margin-top: 49px;
    padding-left: 45px;
    padding-right: 42px;
    border-left: 1px solid #2C2C2C;
    border-right: 1px solid #2C2C2C;
}

.bag-page-middle-card-price-and-delete-item {
    display: flex;
    margin-left: 45px;
    margin-top: 39px;
}

.bag-page-middle-card-price-text {
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}

.bag-page-middle-card-delete-wrapper {
    cursor: pointer;
    margin-left: 91px;
    margin-top: 37px;
    background: #E13439;
    border-radius: 2px;
    padding: 6px;
}

#bag-page-card-input {
    width: 25px;
    height: 25px;
}

.bag-page-lower-phase {
    background: #252525;
    padding: 39px 32px 44px 104px;
    border-radius: 0 0 10px 10px;
}

.bag-page-lower-phase-content {
    display: flex;
    justify-content: space-between;
}

.bag-page-lower-phase-common-amount {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #969696;
}

.bag-page-lower-phase-common-numbers {
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
    padding-top: 7px;
}

.bag-page-lower-phase-buttons {
    padding-top: 5px;
}

.inverse-link {
    border: 1px solid #E13439;
    box-sizing: border-box;
    border-radius: 5px;
    background: transparent;
    color: #E13439;
    padding: 13px 29px 14px 30px;
    margin-right: 18px;
    transition: .1s ease-in-out;
}

.inverse-link:hover {
    background: #E13439;
    color: var(--white);
}

.bag-page-modern-link {
    position: relative;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--white);
    background: var(--red);
    padding: 13px 73px 14px 74px;
    border-radius: 5px;
}

.bag-page-modern-link:before {
    content: "";
    opacity: 0;
    z-index: -1;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: radial-gradient(57.7% 100% at 50% 0%, #FF6B70 0%, #E30C13 100%);
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out;
}

.bag-page-modern-link:hover:before {
    opacity: 1;
    z-index: 1;
}

.mt-210 {
    margin-top: 210px;
}

/* Checkout.html */

.mt-38 {
    margin-top: 38px;
}

.personal-data-first-phase {
    margin-top: 56px;
}

.personal-data-first-phase-heading {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.personal-data-line {
    margin-top: 10px;
    width: 670px;
    height: 2px;
    background: #2C2C2C;
    border-radius: 10px;
}

.mt-21 {
    margin-top: 21px;
}

.personal-data-first-phase-input {
    font-family: Montserrat;
    width: 320px;
    height: 50px;
    background: #2C2C2C;
    border-radius: 5px;
    padding-left: 19px;
    color: #969696;
}

.personal-data-first-phase-label {
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 2px;
}

.mt-19 {
    margin-top: 19px;
}

.personal-data-second-phase {
    margin-top: 44px;
}

#country-input, #region-input {
    font-family: Montserrat;
    font-size: 15px;
    line-height: 150%;
    color: #969696;
    width: 670px;
    height: 50px;
    background: #2C2C2C;
    border-radius: 5px;
    padding: 11px 17px 16px 24px;
    border: none !important;
}

.personal-data-second-phase-input {
    font-family: Montserrat;
    width: 670px;
    height: 50px;
    background: #2C2C2C;
    color: #969696;
    border-radius: 5px;
    padding-left: 19px;
}

.mt-26 {
    margin-top: 26px;
}

.your-purchases {
    margin-top: 38px;
    margin-left: 107px;
    width: 393px;
    height: 794px;
    background: #252525;
    border-radius: 5px 5px 0px 5px;
}

.your-purchases-content {
    padding: 28px 19px 45px 20px;
}

.your-purchases-heading {
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-left: 18px;
    padding-bottom: 20px;
}

.your-purchases-line {
    width: 354px;
    height: 1px;
    background: #2C2C2C;
    border-radius: 10px;
}

.your-purchases-item {
    display: flex;
    padding: 29px 38px 23px 0;
}

.your-purchases-item-image {
    width: 100px;
    height: 100px;
    border-radius: 3px;
}

.your-purchases-item-text {
    padding-left: 13px;
}

.your-purchases-item-main-text {
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}

.your-purchases-item-mini-text {
    padding-top: 9px;
    font-size: 12px;
    line-height: 15px;
    color: #969696;
}

.your-purchase-order-amount-wrapper {
    padding: 30px 13px 31px 17px;
    display: flex;
    justify-content: space-between;
}

.your-purchase-order-amount-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #969696;
    padding-top: 6px;
}

.your-purchase-order-amount-numbers {
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.your-purchase-order-button-wrapper {
    padding-top: 27px;
    padding-left: 15px;
}

.pl-26 {
    padding-left: 26px !important;
}

.your-purchase-order-checkbox-label {
    font-size: 12px !important;
    line-height: 15px !important;
    color: #969696 !important;
}

.your-purchase-order-button-item {
    padding: 18px 17px 0 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.your-purchase-order-button {
    font-family: Montserrat;
    position: relative;
    background: #E13439;
    border-radius: 5px;
    width: 319px;
    height: 50px;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

.your-purchase-order-button:before {
    content: "";
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: radial-gradient(57.7% 100% at 50% 0%, #FF6B70 0%, #E30C13 100%);
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out;
}

.your-purchase-order-button:hover:before {
    opacity: 1;
    z-index: 1;
}

.mt-242 {
    margin-top: 242px;
}

/* Checkout.html / Modal Window */

.focus {
    position: relative;
}

.focus.active {
    background: rgba(0, 0, 0, 0.6);
    filter: blur(5px);
}

.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    width: 382px;
    height: 379px;
    background: #FFFFFF;
    border-radius: 20px;
}

.modal.active {
    display: block;
}

.modal-content {
    text-align: center;
    padding: 38px 40px 33px 40px;
}

.modal-heading {
    font-size: 20px;
    line-height: 24px;
    color: #111111;
}

.mt-35 {
    margin-top: 34.52px;
}

.modal-image {
    width: 110px;
    height: 100.83px;
}

.modal-text {
    margin-top: 34.66px;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    color: #111111;
}

.modal-button {
    position: relative;
    margin-top: 17px;
    font-family: Montserrat;
    background: #E13439;
    border-radius: 5px;
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    padding: 14px 119px 13px 120px;
}


.modal-button:before {
    content: "";
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: radial-gradient(57.7% 100% at 50% 0%, #FF6B70 0%, #E30C13 100%);
    box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.25);
    transition: all .2s ease-in-out;
}

.modal-button:hover:before {
    opacity: 1;
    z-index: 1;
}